body{
    font-family:'Heebo', sans-serif;

}

#header{
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

.min-bottom {
    padding-bottom:1px !important;
}

.more-text{
    display:none;
}

.logo{
    max-height:200px;
}

.header-nav {
    padding-top:0;

}

.header-img{
    max-width: 100%;
}

.cont-head{
    text-align: left;
    margin-top: 50%;
    
}

.but-sec {
    padding-top:140px;
    padding-right:0px;
}
.header-button {
    margin:5px;
    width:75%;
    float:right;
    font-size:medium;
}

.qq-top::before {
    content: '';
    display: block;
    height: 245px;
    margin-top: -245px;
    visibility: hidden;
    scroll-behavior: smooth;
  }

  .qq-scrolled::before {
    content: '';
    display: block;
    height: 120px !important;
    margin-top: -120px !important;
    visibility: hidden;
    scroll-behavior: smooth;
  }

  .rs-top::before {
    content: '';
    display: block;
    height: 245px;
    margin-top: -245px;
    visibility: hidden;
    scroll-behavior: smooth;
  }

  .rs-scrolled::before {
    content: '';
    display: block;
    height: 120px !important;
    margin-top: -120px !important;
    visibility: hidden;
    scroll-behavior: smooth;
  }


#nav{
    margin-top:0em !important;
    z-index: 1000;
    background-color: white;
    -webkit-transition: all 0.9s;
-moz-transition: all 0.9s;
-ms-transition: all 0.9s;
-o-transition: all 0.9s;
transition: all 0.9s;
}

#nav > ul {
    margin: 0;
    padding-top: 25px;
    padding-left: 18%;
    padding-right: 18%;
}


/* Sticky Nav Bar JS */

.navbar {
    margin-top: 30px !important; 
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    -ms-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
}

    .fixed-navbar {
        margin-top:0px !important;
        -webkit-transition: all 0.9s;
        -moz-transition: all 0.9s;
        -ms-transition: all 0.9s;
        -o-transition: all 0.9s;
        transition: all 0.9s;
    }

.sticky-button {
    max-height:70px;
    max-width: 17%;
    float:right;
    margin-top:35px;
    margin-right: 2%;
    opacity:1;
    scroll-behavior: smooth;
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    -ms-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
}

        .fixed-button{
            margin-top:15px;
            margin-right: 3%;
            scroll-behavior: smooth;
            -webkit-transition: all 0.9s;
            -moz-transition: all 0.9s;
            -ms-transition: all 0.9s;
            -o-transition: all 0.9s;
            transition: all 0.9s;
        }

.logo-small{
    max-height:125px;
    max-width:16%;
    padding:5px 5px 0px 0px;
    float:left;
    margin-left: 4%;
    opacity:1;
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    -ms-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
}

    .logo-fixed {
        max-height:70px;
        margin-top: 0px;
        padding:5px 5px 0px 0px;
        float:left;
        margin-left: 5%;
        opacity:1;
        -webkit-transition: all 0.9s;
        -moz-transition: all 0.9s;
        -ms-transition: all 0.9s;
        -o-transition: all 0.9s;
        transition: all 0.9s;

    }

.sticky{
    margin-top: 75px;
    padding:5px 10px 5px 0px;
    height:130px;
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    -ms-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
}

    .fixed {
        padding-top: 3px;
        position: fixed;
        top:0; 
        left:0;
        width: 100%; 
        background-color: #fffffff5 !important;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        margin-bottom:20px;
        height:83px;
        -webkit-transition: all 0.9s;
        -moz-transition: all 0.9s;
        -ms-transition: all 0.9s;
        -o-transition: all 0.9s;
        transition: all 0.9s;
    }


/* end sticky nav styling */

.header-border {
    border-bottom: solid 2px;
    border-top: solid 2px;
    display: inline-block !important;
    padding: 5px 0px 5px 0px !important;
    background-color: transparent !important;
    color: white;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  video.fullscreen {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    width:100%;
    height:100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .container1 {
     position: relative;
     display: grid;
    place-items: flex-end;
     height: 70vh;
     margin: 0 auto;
     background: #ccc;
  }
  
  .content {
    z-index: 1;
  }

  .min-pad {
    padding:.5px 0px 0px 0px;
  }

  .banner-header {
    background-color: #1d1d1de2 !important;
    margin: 5% 20% 5% 20% !important;
    padding:40px 30px 30px 30px;
    display:none;
  }
  
  body .homepage {
     height: 100vh;
     display: block;
     place-items: center;
  }

  body .right-sidebar {
    height: 100vh;
    display: block !important;
    place-items: center;
 }

 body .left-sidebar {
    height: 100vh;
    display: block !important;
    place-items: center;
 }

 body{
    height: 100vh;
    display: block !important;
    place-items: center;
 }

  #banner{
    padding:0 !important;
    margin-top: 0;
  }

  #intro-b section {
    margin: 0em 0;
    padding: 0em 0;
}

#intro-b {
    text-align: center;
    overflow: hidden;
}

.icon.medium {
    position: relative;
    display: inline-block;
    background-color: #ef4348;
    width: 9em;
    padding: 1.75em 0 0.75em 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0 0 4.5em 0;
    cursor: default;
    font-size: 8px;
}

    .icon.medium:before {
        font-size: 4.5em;
        line-height: 1em;
        color: #fff;
    }

    .icon.medium:after {
        content: '';
        position: absolute;
        bottom: -1.95em;
        left: 0;
        border-top: solid 2em #ef4348;
        border-left: solid 4.5em transparent;
        border-right: solid 4.5em transparent;
    }



.gal-img{
    max-width:32.5%;
    width:32.5%;
    }

#copyright {
    margin:0;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.6 !important;
    color: #4d4d4d !important;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-state-active{
    border:0px !important;
    background-color: #ef4348 !important;
}

.ui-state-active:hover{
    border:0px !important;
    background-color: #ff565c !important;
}


.ui-state-active > .arrow{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);

}

.arrow{
    -webkit-transform: 1s;
    transform:1s;
    -webkit-transition: 1s;
    transition:1s;
}





.nav-mobile {
    display: none;
}

.logo-mobile {
    display: none;

}
    .logo-mobile-fixed {
        display: none;

    }

    .sticky-button-mobile {
        display:none;
    }

#footer {
    padding-bottom:50px;

}

@media screen and (max-width: 980px) {
    body{
        font-family:'Heebo', sans-serif;
    
    }
    #nav-mobile {
        display:block;
    }

    .logo-mobile {
        max-height:100px;
        max-width:100%;
        opacity:1;
        position: relative;
        z-index: 10007;
        -webkit-transition: all 0.9s;
        -moz-transition: all 0.9s;
        -ms-transition: all 0.9s;
        -o-transition: all 0.9s;
        transition: all 0.9s;
        display:block;

    }
        .logo-mobile-fixed {
            max-height:50px;
            opacity:.9;
            -webkit-transition: all 0.9s;
            -moz-transition: all 0.9s;
            -ms-transition: all 0.9s;
            -o-transition: all 0.9s;
            transition: all 0.9s;
            display:block;

        }

    .sticky-button-mobile {
        position:fixed;
        top: 10px;
        right:10px;
        height:45px;
        width:65px;
        padding: 4px;
        z-index: 10007;
        font-size: 10px;
        opacity:.9;
        scroll-behavior: smooth;
        -webkit-transition: all 0.9s;
        -moz-transition: all 0.9s;
        -ms-transition: all 0.9s;
        -o-transition: all 0.9s;
        transition: all 0.9s;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        display:block;
    }

    .sticky-mobile{
        margin-top: 0px;
        padding:5px 5px 5px 5px;
        height:110px;
        background-color: #ffffff !important;
        -webkit-transition: all 0.9s;
        -moz-transition: all 0.9s;
        -ms-transition: all 0.9s;
        -o-transition: all 0.9s;
        transition: all 0.9s;
    }
        .fixed-mobile {
            padding-top: 3px;
            position: fixed;
            top:0; 
            left:0;
            width: 100%; 
            background-color: #fffffff5 !important;
            box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
            margin-bottom:20px;
            z-index: 10002;
            height:60px;
            -webkit-transition: all 0.9s;
            -moz-transition: all 0.9s;
            -ms-transition: all 0.9s;
            -o-transition: all 0.9s;
            transition: all 0.9s;
        }

    .banner-img {
        display:none;
    }

    }

@media screen and (max-width: 732px) {
    body{
        font-family:'Heebo', sans-serif !important;
    
    }
    .banner-header{
        width:100%;
        margin:18% 0% 18% 0%!important;
    }
    
    .container1{
        height:55vh;
        -webkit-transition: all 0.9s;
        -moz-transition: all 0.9s;
        -ms-transition: all 0.9s;
        -o-transition: all 0.9s;
        transition: all 0.9s;
    }

    .container1-fixed{
        margin-top:70px !important;
        -webkit-transition: all 0.9s;
        -moz-transition: all 0.9s;
        -ms-transition: all 0.9s;
        -o-transition: all 0.9s;
        transition: all 0.9s;
    }

}